/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #05070a;
  --clr-primary-2: #16232e;
  --clr-primary-3: #283e53;
  --clr-primary-4: #3a5a77;
  /* primary/main color */
  --clr-primary-5: #4b759c;
  /* lighter shades of primary color */
  --clr-primary-6: #5d91c0;
  --clr-primary-7: #7ca6cc;
  --clr-primary-8: #9bbbd8;
  --clr-primary-9: #b9d0e4;
  --clr-primary-10: #d8e5f0;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #ffffff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-4);
  color: white;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: white;
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.underline {
  width: 4rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
.bg-blue {
  background: var(--clr-primary-10);
} /*
=============== 
Navbar
===============
*/
.nav-links {
  display: none;
}
.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  /* display: none; */
}
.nav-center {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}
@media screen and (min-width: 768px) {
  .nav {
    background: var(--clr-primary-10);
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 3.5rem;
    justify-self: end;
  }
  .custom-links {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: bold;
    letter-spacing: 0.2rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .custom-links:hover {
    color: var(--clr-primary-5);
  }
  .custom-links.active {
    color: var(--clr-primary-5);
    /* text-decoration: underline; */
  }
  .custom-links.active:hover {
    color: var(--clr-primary-5);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
  }
}
/* fixed navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  z-index: 2;
  box-shadow: var(--light-shadow);
  /* display: block; */
}
/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  z-index: 4;
  display: grid;
  /* align-items: center;
  justify-content: center; */
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  /* add later */
  -webkit-transform: translateX(-100%);
  transform: translateX(-200%);
}
/* toggle sidebar */
.show-sidebar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.sidebar-links {
  text-align: center;
}
.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}
.sidebar-links a:hover {
  color: var(--clr-primary-1);
}
.social-icons {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  justify-items: center;
}
.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary-5);
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: #bb2525;
  cursor: pointer;
}
.close-btn:hover {
  color: #e66b6b;
}
/*
=============== 
Hero
===============
*/
.hero {
  height: 100vh;
  background:
    url("../assets/images/Background.jpg") center/cover no-repeat fixed;
}
.hero-center h1 {
  text-align: center;
  color: var(--clr-white);
}
/*
=============== 
Collabs
===============
*/
.collab {
  min-height: calc(100vh - 5rem);
  background: var(--clr-primary-10);
  position: relative;
}

.collab-info h1 {
  color: var(--clr-grey-1);
  text-align: center;
  margin-top: 0;
  padding-top: 2rem;
}

.carousel {
  overflow-x: hidden;
  padding: 0 1rem;
}

.list {
  margin-top: 3rem;
  height: 12.5rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.list div {
  list-style-type: none;
  width: 12.5rem;
  height: 12.5rem;
  position: absolute;
  border-radius: 2px;
  background: #9c89b8;
  transition: transform 1s, opacity 1s;
  border-radius: 100%;
}
.list div img {
  border-radius: 100%;
}

.list .act {
  opacity: 1;
}

.list .prev,
.list .next {
  opacity: 0.5;
}

.list .prev {
  transform: translateX(-120%) scale(1);
}

.list .next {
  transform: translateX(120%) scale(1);
}

.list .hide {
  transform: translateX(-300%) scale(0.85);
}

.list .new-next {
  transform: translateX(300%) scale(0.85);
}

.list .hide,
.list .new-next {
  opacity: 0;
}

.swipe {
  position: absolute;
  background-color: green;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

@media screen and (min-width: 676px) {
  .list {
    height: 16rem;
  }
  .list div {
    width: 16rem;
    height: 16rem;
  }
  .list .prev {
    transform: translateX(-120%) scale(0.85);
  }

  .list .next {
    transform: translateX(120%) scale(0.85);
  }
  .list .new-next {
    transform: translateX(250%) scale(0.85);
  }
  .list .hide {
    transform: translateX(-250%) scale(0.85);
  }
}
@media screen and (min-width: 800px) {
  .list {
    height: 22rem;
  }
  .list div {
    width: 22rem;
    height: 22rem;
  }
}
/*
=============== 
About
===============
*/
.about-title {
  text-align: center;
  margin-bottom: 2rem;
}
.about-center {
  display: grid;
  gap: 3rem 2rem;
}
.about-info {
  text-align: center;
}
.about-text {
  margin-top: 1rem;
  padding: 1rem 2rem;
  line-height: 1.6;
}
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*
=============== 
Services
===============
*/

.service {
  background: var(--clr-white);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service p {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}
.service:hover p {
  color: var(--clr-white);
}
.service:hover .underline {
  background: var(--clr-white);
}
@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/*
=============== 
Upcoming Events
===============
*/
.upcoming {
  background: var(--clr-grey-10);
}
.upcoming .underline {
  width: 5rem;
}
.event {
  flex: 0 0 auto;
  /* height: 16.5rem;
  width: 18rem; */
  position: relative;
  background: var(--clr-primary-10);
  border-radius: 1.5rem;
  box-shadow: var(--dark-shadow);
}
.event-image {
  width: auto;
  height: 14rem;
}
.event-image img {
  border-radius: 1.5rem 1.5rem 0 0;
  filter: brightness(0.9);
}
.event-heading {
  width: 100%;
  position: absolute;
  padding: 0 0.5rem 0 0.5rem;
  top: 54%;
  color: var(--clr-white);
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* backdrop-filter: blur(5px); 
 clip-path: text(80% 80%); */
}
.event-heading h4 {
  font-size: 1.25rem;
}
.event-details {
  /* margin-top: 1rem; */
  position: relative;
  place-items: center;
  display: grid;
  grid-template-columns: auto auto auto 0.75fr;
}
.event-cal h4 {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: normal;
  margin-bottom: 0.3rem;
  text-align: center;
  text-transform: uppercase;
}
.event-cal h2 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: normal;
}
.line {
  background-color: var(--clr-primary-5);
  justify-self: center;
  margin-top: -0.5rem;
  height: 70%;
  width: 0.1rem;
}
.event-loc h4 {
  font-size: 1.1rem;
}
.event-time {
  margin-bottom: 0.7rem;
}
.event-location {
  margin-bottom: 0;
}

.register-btn {
  background: var(--clr-primary-5);
  width: 100%;
  margin: 0;
  align-content: center;
  justify-items: center;
  font-size: 1.4rem;
  border-radius: 0 0 1.5rem 0;
}
.upcoming-center {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  white-space: nowrap;
}
.upcoming-center::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 800px) {
  .event {
    height: 22rem;
    width: 26rem;
  }
}
@media screen and (min-width: 308px) {
  .upcoming .underline {
    width: 15rem;
  }
}
/*
=============== 
Footer
===============
*/
.footer {
  padding-bottom: 2rem;
  background: #222;
  display: grid;
  place-items: center;
}
.footer .social-icons {
  margin-bottom: 2rem;
}
.footer .social-icon {
  color: var(--clr-primary-5);
}
.footer .social-icon:hover {
  color: var(--clr-primary-10);
}
.footer p {
  font-size: 1rem;
  text-transform: capitalize;
}
@media screen and (min-width: 350px) {
  .footer p {
    font-size: 1.25rem;
  }
  .social-icon {
    column-gap: 5rem;
  }
}
/*
=============== 
Single Page
===============
*/
.single-page {
  background: var(--clr-primary-10);
  min-height: calc(100vh - 5rem - 198px);
}
.page-info {
  max-width: 700px;
}
.page-info a {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.page-info a:hover {
  color: var(--clr-primary-1);
}

/*
=============== 
Products Page
===============
*/
.projects-collab {
  height: 40vh;
  background: var(--clr-primary-10);
  display: grid;
  place-items: center;
}
.projects-collab .section-title {
  margin-bottom: 0;
}
.single-project {
  background: var(--clr-grey-10);
  border-radius: var(--radius);
}
.project-container img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.project-container {
  position: relative;
}
.project-icon {
  position: absolute;
  font-size: 1.75rem;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  background: var(--clr-primary-5);
  border-radius: 50%;
  color: var(--clr-primary-1);
  border: 0.375rem solid var(--clr-grey-10);
}
.project-details {
  padding: 2rem 1.5rem;
}
.project-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--clr-primary-5);
}
.project-footer a {
  color: var(--clr-primary-5);
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  justify-self: end;
}
.project-footer a:hover {
  color: var(--clr-primary-1);
}
.projects-page-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 3rem 1rem;
}

.today {
  background-color: #ffcccb; /* Light red */
}

/*
=============== 
About Team Page
===============
*/
.about-team-heading h2 {
  font-size: 2rem;
  text-align: center;
}
.about-team-heading .underline {
  width: 8rem;
  margin-bottom: 5rem;
}
.about-team {
  background: var(--clr-primary-10);
}
.about-team-title {
  margin-bottom: 2rem;
}
.about-team-title h2 {
  font-size: 2rem;
}
.about-team-item {
  display: grid;
  gap: 3rem 2rem;
  margin-bottom: 4rem;
  min-height: 25rem;
  max-width: 1240px;
  place-items: center;
}
.about-team-img img {
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100%;
}
.about-team-info p {
  text-align: center;
  font-size: 0.8rem;
}
@media screen and (min-width: 300px) {
  .about-team-heading h2 {
    font-size: 3rem;
  }
  .about-team-img img {
    width: 17rem;
    height: 17rem;
  }
  .about-team-title h2 {
    font-size: 2rem;
  }
  .about-team-info p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 600px) {
  .about-team-img img {
    width: 20rem;
    height: 20rem;
  }
  .about-team-title h2 {
    font-size: 2.5rem;
  }
  .about-team-info p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 800px) {
  .about-team-info p {
    font-size: 1rem;
  }
  .about-team-img img {
    width: 22rem;
    height: 22rem;
  }
  .about-team-heading h2 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .about-team-title {
    text-align: left;
    margin-bottom: 2rem;
  }
  .about-team-image {
    max-width: 22rem;
    max-height: 22rem;
  }
  .about-team-title .underline {
    margin-left: 0;
  }
  .about-team-item {
    grid-template-columns: 1fr 1fr;
  }
  .about-team-image::before {
    left: -2rem;
  }
  .about-team-info {
    align-self: center;
  }
  /* .about-team-item:nth-child(odd) {
    direction: rtl;
  } */
  .about-team-item:nth-child(odd) .about-team-title {
    text-align: left;
  }
  .about-team-item:nth-child(odd) p {
    text-align: left;
  }
  .about-team-item:nth-child(even) p {
    text-align: left;
  }
  .about-team-item:nth-child(odd) .underline {
    margin-right: 0;
  }
}
/*
=============== 
FAQs
===============
*/
.questions-hero {
  height: 40vh;
  background: var(--clr-primary-10);
  display: grid;
  place-items: center;
}
.faq-section {
  background: var(--clr-white);
}

.faq-container {
  width: 60vw;
  margin-bottom: 1rem;
}

.faq-item {
  border: 1px solid var(--clr-grey-8);
  border-radius: var(--radius);
  overflow: hidden;
}
.question {
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 1rem;
  cursor: pointer;
}
.answer {
  padding: 1rem;
  background: var(--clr-white);
  color: var(--clr-primary-1);
  display: none;
}

/* Show answer on question click */
.faq-item.active .answer {
  display: block;
}
/*
=============== 
Mentions Page
===============
*/
.mentions-hero {
  height: 40vh;
  background: var(--clr-primary-10);
  display: grid;
  place-items: center;
}
.mentions-hero .section-title {
  margin-bottom: 0;
}
.mentions-hero .section-title .underline {
  width: 18rem;
}
.single-mention {
  background: var(--clr-grey-10);
  border-radius: var(--radius);
}
.mention-container img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.mention-container {
  position: relative;
}
.mention-icon {
  position: absolute;
  font-size: 1.75rem;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  background: var(--clr-primary-5);
  border-radius: 50%;
  color: var(--clr-white);
  border: 0.375rem solid var(--clr-grey-10);
  transition: var(--transition);
}
.mention-details {
  padding: 2rem 1.5rem;
}
.mention-details h4 {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mention-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--clr-primary-5);
}
.mention-footer a {
  color: var(--clr-primary-5);
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  justify-self: end;
}
.mention-footer a:hover {
  color: var(--clr-primary-1);
}
.mentions-page-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 3rem 1rem;
}
.mention-icon:hover {
  background: var(--clr-primary-1);
}
