/*
=============== 
FAQs
===============
*/


/*
=============== 
FAQs
===============
*/

/* Updated FAQ Accordion Styles */

.questions-hero {
  height: 40vh;
  background: var(--clr-primary-10);
  display: grid;
  place-items: center;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 90%;
  max-width: 55rem;
}

.accordion {
  transition: var(--transition);

  .accordion-item {
    border-bottom: 1px solid var(--clr-primary-5);
  }

  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1.2rem 0;
    color: var(--clr-grey-1);
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    transition: var(--transition);

    &:hover,
    &:focus {
      cursor: pointer;
      color: var(--clr-primary-5);

      .icon {
        border: 1px solid var(--clr-primary-5);
      }
    }

    .accordion-title {
      padding-right: 2.5rem;
    }

    .icon {
      display: inline-block;
      display: none;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 50%;
      transition: var(--transition);

      &::before {
        content: '';
        position: absolute;
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
        transition: var(--transition);
      }

      &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
        transition: var(--transition);
      }
    }
  }

  button[aria-expanded='true'] {
    color: var(--clr-primary-5);

    .icon::after {
      width: 0;
    }

    + .accordion-content {
      opacity: 1;
      max-height: 500px;
      transition: max-height 0.4s ease, opacity 0.4s ease;

      p {
        color: var(--clr-grey-1);
      }
    }
  }

  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;

    p {
      font-size: 1rem;
      font-weight: 300;
      color: var(--clr-grey-5);
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem;
    width: 95%;
  }

  button {
    font-size: 1rem;
    padding: 0.8rem 0;
  }

  .icon {
    width: 18px;
    height: 18px;
    top: 50%;
  }

  .accordion-title {
    padding-right: 2rem;
  }

  .accordion-content p {
    font-size: 0.9rem;
  }
}
